<div class="form-group">
  <label></label>
  <input type="text" class="form-control" ng-model="tracking.">
</div>

<div class="form-group">
  <label>Life Skills</label>
  <textarea class="form-control" ng-model="tracking.lifeSkills"></textarea>
</div>

<div class="form-group">
  <label>Vocational Skills</label>
  <textarea class="form-control" ng-model="tracking.vocationalSkills"></textarea>
</div>

Life Skills - textarea
Vocational Skills - textarea
Skils - text

Further Education during engagement with Kshamata - text
Current employer: - text
Salary when she joined - number
Current salary (at time of survey) - number
Key job responsibilities - text
How satisfied she is with the job - text
What future growth she has in mind, in terms of income, promotions - textarea

Where is she staying: (location linked to map? GIS?) - text
Is it shared accommodation or individual: - select
What is the average expenses per month - number
How much she is able to save monthly - number
How are relationships with housemates (those he shares the house with) - text
How are relations with neighbours - text
