<p>&nbsp;</p>

<div ng-controller="AddWomanController">
  <h3>Add a new Woman into Kshamata System</h3>
  <p>&nbsp;</p>

  <form class="col-10">
    <h4 class="form-section-heading">Progress of Women after Training</h4>

    <div class="form-group">
      <label>Date from which she is supported</label>
      <input type="date" class="form-control" ng-model="woman.supportedFromDate" placeholder="">
    </div>

    <div class="form-group">
      <label>Initial Location</label>
      <select class="form-control" ng-model="woman.initialLocation">
        <option>--</option>
        <option>Shelter Home</option>
        <option>Kshamata Transformation Centre</option>
      </select>
    </div>

    <div class="form-group">
      <label>Email Address</label>
      <input type="email" class="form-control" ng-model="woman.emailAddress" placeholder="Enter Volunteer's Email Address">
    </div>

    <p>&nbsp;</p>

    <button type="button" class="btn btn-primary col-2 offset-2" ng-click="addVolunteer();">Submit</button>
    <button type="button" class="btn btn-warning col-2 offset-2">Reset</button>

  </form>
</div>
